@using BusinessLogic.DTOs;
@model AdvertisementDto;
<h1 class="text-center">Edit Advertisement</h1>

<form class="row g-3" method="post" asp-action="Edit">
    <div class="col-md-6">
        <label asp-for=Name class="form-label">Name</label>
        <input asp-for=Name type="text" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=Brand class="form-label">Brand</label>
        <input asp-for=Brand type="text" class="form-control" placeholder="Enter brand">
        <span asp-validation-for="Brand" class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for=Price class="form-label">Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input asp-for=Price type="text" class="form-control" placeholder="Enter price">
            <span class="input-group-text">.00</span>
        </div>
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for=Description class="form-label">Description</label>
        <textarea id="description-input" asp-for=Description type="text" class="form-control" placeholder="Enter description"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for=CategoryId class="form-label">Category</label>
        <select asp-for=CategoryId asp-items=ViewBag.Categories class="form-select">
            <option disabled selected>Choose...</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for=ConditionId class="form-label">Condition</label>
        <select asp-for=ConditionId asp-items=ViewBag.Conditions class="form-select">
            <option disabled selected>Choose...</option>
        </select>
    </div>
    <div class="col-md-12">
        <label asp-for=ImageUrl class="form-label">Image URL</label>
        <input asp-for=ImageUrl type="text" class="form-control" placeholder="Enter image url">
    </div>
    <div class="col-12 text-center">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_InputEditorPartial.cshtml" model='new { Selector = "#description-input"}' />
}