@using BusinessLogic.DTOs;
@model List<AdvertisementDto>;

<div class="text-center">
    <h1 class="display-4 mb-4">Selected Advertisements</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <partial name="AdvertisementCard" model="@i" />
            </div>
        }
    </div>

    <div class="card-footer text-muted">
        Items: @Model.Count
    </div>
</div>
